<h1 style="color:#f1703d"> Welcome to Magento 2 </h2>
<?php

echo $block->getContent();
?>

<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('home_welcome')->toHtml();

/*
$categoryProducts = $block->productlist();
foreach ($categoryProducts as $product) {
	
	//echo $product->getName() . ' - ' . $product->getProductUrl() . '<br />';
}

*/

?>


<?php foreach ($block->getProductsCollection() as $product) :
   echo $product->getName() . ' - ' . $product->getProductUrl() . '<br />';
endforeach;?>
